<section class="adv">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="adv-list">
      <li class="adv-item">
        <p class="adv-value">721</p>
        <p class="adv-descr1">
          We have our own 721 cows,  we feed them organic food for the best milk
        </p>
      </li>
      <li class="adv-item">
        <p class="adv-value">16kg</p>
        <p class="adv-descr2">
          16 kg of sugar per batch for the best taste
        </p>
      </li>
      <li class="adv-item">
        <p class="adv-value">84</p>
        <p class="adv-descr3">
          Only 84 pieces per batch!  This is an exclusive!
        </p>
      </li>
    </ul>
  </div>
</section>